### DOES:
- to be continued

In [1]:
import pandas as pd
from datetime import datetime, timedelta
import os

In [2]:
# os.path.isdir('new_folder') # check if directory exists 
# os.path.join(path, 'inputs')  # join paths
# path = os.getcwd() # get current directory

In [3]:
out_folder = 'outputs_bme280'
out_path = os.path.join(os.getcwd(), out_folder)
if not os.path.exists(out_path):
    os.makedirs(out_path)
    
data = pd.read_csv("data_2.csv", index_col=None)

In [4]:
print(data.shape)
display(data.head())

(3395, 5)

                         date       temp   humidity    pressure    altitude
0  2024-02-28 22:17:29.535257  22.029883  50.591969  998.391224  155.523195
1  2024-02-28 22:18:29.940560  22.019727  50.430409  998.373486  155.559331
2  2024-02-28 22:19:30.353626  22.009766  50.730613  998.425081  155.544849
3  2024-02-28 22:20:30.756572  21.989453  50.579919  998.414341  155.360119
4  2024-02-28 22:21:31.164825  22.004687  50.496629  998.410902  155.161034

In [5]:
d = data['date'].iloc[0]
type(d)

str

In [6]:
data['date'] = pd.to_datetime(data['date'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3395 entries, 0 to 3394
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3395 non-null   datetime64[ns]
 1   temp      3395 non-null   float64
 2   humidity  3395 non-null   float64
 3   pressure  3395 non-null   float64
 4   altitude  3395 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 132.7 KB

In [8]:
# counting minutes
grp = data.groupby(by=[data['date'].dt.date, data['date'].dt.hour])
grp.count()

                 date  temp  humidity  pressure  altitude
date       date
2024-02-28 22      43    43        43        43        43
           23      59    59        59        59        59
2024-02-29 0       60    60        60        60        60
           1       60    60        60        60        60
           2       59    59        59        59        59
           3       60    60        60        60        60
           4       59    59        59        59        59
           5       60    60        60        60        60
           6       60    60        60        60        60
           7       59    59        59        59        59
           8       60    60        60        60        60
           9       59    59        59        59        59
           10      60    60        60        60        60
           11      60    60        60        60        60
           12      59    59        59        59        59
           13      60    60        60        60        60
           14      59    59        59        59        59
           15      60    60        60        60        60
           16      60    60        60        60        60
           17      59    59        59        59        59
           18      60    60        60        60        60
           19      59    59        59        59        59
           20      60    60        60        60        60
           21      60    60        60        60        60
           22      59    59        59        59        59
           23      60    60        60        60        60
2024-03-01 0       59    59        59        59        59
           1       60    60        60        60        60
           2       60    60        60        60        60
           3       59    59        59        59        59
           4       60    60        60        60        60
           5       59    59        59        59        59
           6       60    60        60        60        60
           7       60    60        60        60        60
           8       59    59        59        59        59
           9       60    60        60        60        60
           10      59    59        59        59        59
           11      60    60        60        60        60
           12      60    60        60        60        60
           13      59    59        59        59        59
           14      60    60        60        60        60
           15      59    59        59        59        59
           16      60    60        60        60        60
           17      60    60        60        60        60
           18      59    59        59        59        59
           19      60    60        60        60        60
           20      59    59        59        59        59
           21      60    60        60        60        60
           22      60    60        60        60        60
           23      59    59        59        59        59
2024-03-02 0       60    60        60        60        60
           1       59    59        59        59        59
           2       60    60        60        60        60
           3       60    60        60        60        60
           4       59    59        59        59        59
           5       60    60        60        60        60
           6       59    59        59        59        59
           7       15    15        15        15        15

In [9]:
grp = data.groupby(by=[data['date'].dt.date, data['date'].dt.hour])
grp = grp.mean()
grp.index.names = ['date', 'hour']
grp

                                         date       temp   humidity  \
date       hour
2024-02-28 22   2024-02-28 22:38:37.829597440  21.853370  50.709158
           23   2024-02-28 23:29:58.238736384  21.514175  50.208235
2024-02-29 0    2024-02-29 00:29:52.354452736  21.111989  50.018249
           1    2024-02-29 01:30:16.275515136  20.720576  50.126843
           2    2024-02-29 02:30:10.111042048  20.354188  50.241608
           3    2024-02-29 03:30:04.143295744  20.010869  50.332875
           4    2024-02-29 04:29:58.182488576  19.667413  50.335334
           5    2024-02-29 05:29:52.219894784  19.319863  50.348113
           6    2024-02-29 06:30:16.233509376  18.970371  50.676655
           7    2024-02-29 07:30:10.143212544  18.724335  50.771801
           8    2024-02-29 08:30:04.192612352  18.603424  51.676346
           9    2024-02-29 09:29:57.999222784  19.370293  51.771162
           10   2024-02-29 10:29:51.692099584  21.236064  49.340644
           11   2024-02-29 11:30:16.011563520  22.749928  47.900612
           12   2024-02-29 12:30:09.850333184  23.356161  47.545920
           13   2024-02-29 13:30:03.699224064  23.331191  47.742744
           14   2024-02-29 14:29:57.413821696  23.284825  48.647420
           15   2024-02-29 15:29:51.303747840  23.078454  48.826431
           16   2024-02-29 16:30:15.890161152  22.760811  49.062901
           17   2024-02-29 17:30:10.196340480  22.213116  50.033408
           18   2024-02-29 18:30:04.491636224  21.997474  50.118830
           19   2024-02-29 19:29:58.457690368  21.928492  51.230103
           20   2024-02-29 20:29:52.540132864  21.679137  51.180093
           21   2024-02-29 21:30:16.733560064  21.288675  50.420834
           22   2024-02-29 22:30:10.833477120  20.892903  50.258627
           23   2024-02-29 23:30:04.895054848  20.469202  50.596352
2024-03-01 0    2024-03-01 00:29:58.818381568  20.076000  51.120595
           1    2024-03-01 01:29:52.683830784  19.789645  51.674382
           2    2024-03-01 02:30:16.888568064  19.533555  51.906276
           3    2024-03-01 03:30:10.936022272  19.313821  52.256815
           4    2024-03-01 04:30:04.986210048  19.055443  52.669467
           5    2024-03-01 05:29:59.087240704  18.784272  53.036535
           6    2024-03-01 06:29:52.870527488  18.525205  53.270827
           7    2024-03-01 07:30:16.871948288  18.317057  53.611292
           8    2024-03-01 08:30:10.674770432  18.207164  54.312248
           9    2024-03-01 09:30:04.386502400  18.288187  55.564765
           10   2024-03-01 10:29:58.487067392  18.357607  55.136489
           11   2024-03-01 11:29:52.487533056  18.545355  56.208983
           12   2024-03-01 12:30:16.809855488  18.603434  56.402695
           13   2024-03-01 13:30:10.618246912  18.595776  56.358166
           14   2024-03-01 14:30:04.714542080  19.406527  54.979171
           15   2024-03-01 15:29:58.799251712  21.104482  53.049821
           16   2024-03-01 16:29:52.584860416  22.777077  51.576993
           17   2024-03-01 17:30:16.766180352  23.531146  50.762872
           18   2024-03-01 18:30:10.716365824  23.627923  51.066782
           19   2024-03-01 19:30:04.428330752  23.675654  52.014859
           20   2024-03-01 20:29:58.419810304  23.330624  52.185238
           21   2024-03-01 21:29:52.093328384  22.603835  50.246680
           22   2024-03-01 22:30:16.009787136  21.916110  49.745546
           23   2024-03-01 23:30:09.973291008  21.404015  49.876102
2024-03-02 0    2024-03-02 00:30:03.906943488  20.984355  50.205722
           1    2024-03-02 01:29:57.604848640  20.608885  50.785551
           2    2024-03-02 02:29:51.167776256  20.294785  51.097878
           3    2024-03-02 03:30:14.874816000  19.960189  51.199392
           4    2024-03-02 04:30:08.558763008  19.647961  51.397840
           5    2024-03-02 05:30:02.379033856  19.334043  51.561199
           6    2024-03-02 06:29:56.192045568  18.966694  51.675103
           7    2024-03-02 07:07:10.876380416  18.794193  51.878411

                   pressure    altitude
date       hour
2024-02-28 22    998.524012  154.366096
           23    998.718356  152.737902
2024-02-29 0     999.023490  150.156519
           1     999.308825  147.796267
           2     999.206266  148.635664
           3     998.907905  151.146614
           4     998.971457  150.644436
           5     998.859031  151.593286
           6     998.983149  150.510259
           7     999.113237  149.352546
           8     999.148720  149.123412
           9     999.052149  149.932871
           10    998.966221  150.658639
           11    998.630927  153.460922
           12    998.190316  157.193267
           13    997.598918  162.171188
           14    997.043824  166.812325
           15    996.618460  170.399686
           16    996.182514  174.126044
           17    995.886929  176.607997
           18    995.787454  177.461625
           19    995.679963  178.262122
           20    995.284101  181.685843
           21    994.826574  185.554200
           22    994.368628  189.439442
           23    993.910500  193.244844
2024-03-01 0     993.507490  196.667891
           1     993.119877  199.941268
           2     992.601016  204.337137
           3     991.932175  210.040398
           4     991.622036  212.606208
           5     991.491149  213.682775
           6     991.404806  214.495036
           7     991.395496  214.551809
           8     991.330225  215.103830
           9     991.128558  216.838727
           10    990.741680  220.114981
           11    990.175111  224.943377
           12    989.799774  228.101484
           13    989.472178  230.847109
           14    989.268636  232.586925
           15    988.975399  235.082901
           16    989.009482  234.748183
           17    989.225481  232.970118
           18    989.677581  229.108813
           19    989.801085  228.078798
           20    989.933017  226.932954
           21    990.264845  224.181288
           22    990.178929  224.863818
           23    990.039554  226.066040
2024-03-02 0     989.885625  227.341244
           1     989.702718  228.992304
           2     989.464871  230.921146
           3     989.112053  233.943948
           4     989.133082  233.758822
           5     989.136355  233.714991
           6     989.296473  232.322749
           7     989.486607  230.870489

In [10]:
grp_reset = grp.reset_index()
display(grp_reset.head(2))
type(grp_reset['hour'].iloc[0])

ValueError: cannot insert date, already exists

In [11]:
start_time = pd.to_datetime('2024-02-29 08:00:00')
end_time = pd.to_datetime('2024-02-29 09:00:00')


selected_rows = data[(data['date'] >= start_time) & (data['date'] <= end_time)]
print('mean', selected_rows['temp'].mean(), f'between {start_time.hour} and {end_time.hour}')
selected_rows.head(10)

mean 18.60342447916667 between 8 and 9

                          date       temp   humidity    pressure    altitude
579 2024-02-29 08:00:22.332776  18.600586  51.095642  999.166421  149.086147
580 2024-02-29 08:01:22.753299  18.600586  50.825249  999.149317  149.189886
581 2024-02-29 08:02:23.174908  18.620898  51.046272  999.139034  149.296613
582 2024-02-29 08:03:23.587163  18.600586  51.233589  999.158557  149.092111
583 2024-02-29 08:04:23.975974  18.600586  50.825823  999.162647  148.764037
584 2024-02-29 08:05:24.398293  18.590625  50.648376  999.196205  148.639953
585 2024-02-29 08:06:24.763744  18.595508  50.885951  999.216377  148.694548
586 2024-02-29 08:07:25.176680  18.590625  51.095207  999.226992  148.294525
587 2024-02-29 08:08:25.544877  18.580469  50.913259  999.249932  148.228037
588 2024-02-29 08:09:25.912409  18.575391  51.094767  999.227698  148.645418

In [12]:
df = data[:100]
print(df.shape)

df_minutes = pd.DataFrame() # this is for hours
df_hours = pd.DataFrame()

minute = df['date'][0].minute
hour = df['date'][0].hour

for ind in df.index:
    # if a miute changes then the data is saved in csv
    if df['date'][ind].minute > minute:
        # here we save data to csv 
        # ...
        pass
    

    # if the hour changes then the mean from previouse hour is saved
    if df['date'][ind].hour > hour:
#         start_time = pd.to_datetime('2024-02-29 08:00:00')
#         end_time = pd.to_datetime('2024-02-29 09:00:00')
        #date_time = datetime()
    
        hour = df['date'][ind].hour
        
    # when the date changes then the mean is calculated + a new csv is created for minutes data 
        
    minute = df['date'][ind].minute

(100, 5)

In [13]:
df = data.copy()
print(df.shape)

df_minutes = pd.DataFrame() # this is for hours
df_hours = pd.DataFrame()

minute = df['date'][0].minute # datetime.now().minute
hour = df['date'][0].hour # datetime.now().hour
date = df['date'][0].date() #datetime.now().date()

out_miute = pd.DataFrame(columns = ['date', 'temp', 'humidity', 'pressure', 'altitude'])
out_hour = pd.DataFrame(columns = ['date', 'temp', 'humidity', 'pressure', 'altitude'])

for ind in df.index:
    # if a miute changes then the data is saved in csv
    if df['date'][ind].minute > minute:
        date = df['date'][ind]
        temp = df['date'][ind]
        humidity = df['date'][ind]
        pressure = df['date'][ind]
        altitude = df['date'][ind]
        # adding data to the dataframe
        out_miute.loc[len(out_miute.index)] = [date, temp, humidity, pressure, altitude]
        # save to csv ??....
    

    # if the hour changes then the mean from previouse hour is saved
    if df['date'][ind].hour > hour:
        # select readings from previouse hour
        end_time = df['date'][ind] # datetime.no()
        start_time = end_time - timedelta(hours=1)
        selected_rows = out_miute[(out_miute['date'] >= start_time) & (out_miute['date'] <= end_time)]
        mean_selected_rows = selected_rows.mean()
        # saves means to out_hour
        out_hour.loc[len(out_hour.index)] = [date, temp, humidity, pressure, altitude] # FIX !!!!
        # save to csv ??....
    
    
    # if the date changes then the mean is calculated + a new csv is created for minutes data 
    if df['date'][ind].date() > date:
        minutes_file = date.strftime("%Y%m%d") + "_minutes.csv" # datetime.now().strftime("%Y%m%d") 
        hour_file = date.strftime("%Y%m%d") + "_hours.csv" # datetime.now().strftime("%Y%m%d")  
        # saving data 
        out_miute.to_csv(os.path.join(out_path, minutes_file))
        out_hour.to_csv(os.path.join(out_path, hour_file))
        # clear dataframes
        out_miute = pd.DataFrame(columns = ['date', 'temp', 'humidity', 'pressure', 'altitude'])
        out_hour = pd.DataFrame(columns = ['date', 'temp', 'humidity', 'pressure', 'altitude'])
        
   

    
    minute = df['date'][ind].minute
    hour = df['date'][ind].hour
    date = df['date'][0].date()

(3395, 5)

TypeError: Cannot compare Timestamp with datetime.date. Use ts == pd.Timestamp(date) or ts.date() == date instead.

In [14]:
df = data.copy()
print(df.shape)

df_minutes = pd.DataFrame() # this is for hours
df_hours = pd.DataFrame()

minute = df['date'][0].minute # datetime.now().minute
hour = df['date'][0].hour # datetime.now().hour
date = df['date'][0].date() #datetime.now().date()

out_miute = pd.DataFrame(columns = ['date', 'temp', 'humidity', 'pressure', 'altitude'])
out_hour = pd.DataFrame(columns = ['date', 'temp', 'humidity', 'pressure', 'altitude'])

for ind in df.index:
    # if a miute changes then the data is saved in csv
    if df['date'][ind].minute > minute:
        date = df['date'][ind]
        temp = df['date'][ind]
        humidity = df['date'][ind]
        pressure = df['date'][ind]
        altitude = df['date'][ind]
        # adding data to the dataframe
        out_miute.loc[len(out_miute.index)] = [date, temp, humidity, pressure, altitude]
        # save to csv ??....
    

    # if the hour changes then the mean from previouse hour is saved
    if df['date'][ind].hour > hour:
        # select readings from previouse hour
        end_time = df['date'][ind] # datetime.no()
        start_time = end_time - timedelta(hours=1)
        selected_rows = out_miute[(out_miute['date'] >= start_time) & (out_miute['date'] <= end_time)]
        mean = selected_rows.mean()
#         # saves means to out_hour
#         out_hour.loc[len(out_hour.index)] = [df['date'][ind], mean['temp'], mean['humidity'], mean['pressure'], mean['altitude']]
#         # save to csv ??....
    
    
    # if the date changes then the mean is calculated + a new csv is created for minutes data 
    if df['date'][ind].date() > date:
        new_date = df['date'][ind].date()
        print(f'{date} changes to {new_date}')
        minutes_file = date.strftime("%Y%m%d") + "_minutes.csv" # datetime.now().strftime("%Y%m%d") 
        hour_file = date.strftime("%Y%m%d") + "_hours.csv" # datetime.now().strftime("%Y%m%d")  
        # saving data 
        out_miute.to_csv(os.path.join(out_path, minutes_file))
        out_hour.to_csv(os.path.join(out_path, hour_file))
        # clear dataframes
        out_miute = pd.DataFrame(columns = ['date', 'temp', 'humidity', 'pressure', 'altitude'])
        out_hour = pd.DataFrame(columns = ['date', 'temp', 'humidity', 'pressure', 'altitude'])
        
   

    
    minute = df['date'][ind].minute
    hour = df['date'][ind].hour
    date = df['date'][ind].date()

(3395, 5)

TypeError: Cannot compare Timestamp with datetime.date. Use ts == pd.Timestamp(date) or ts.date() == date instead.

In [15]:
end_time = df['date'][120] # datetime.no()
start_time = end_time - timedelta(hours=1)
selected_rows = df[(df['date'] >= start_time) & (df['date'] <= end_time)]
mean = selected_rows.mean()

In [16]:
df = data.copy()
print(df.shape)

out_miute = pd.DataFrame(columns = ['date','temp', 'humidity', 'pressure', 'altitude'])
out_hour = pd.DataFrame(columns = ['date', 'hour', 'temp', 'humidity', 'pressure', 'altitude'])

minute = df['date'][0].minute # datetime.now().minute
hour = df['date'][0].hour # datetime.now().hour
date = df['date'][0].date() #datetime.now().date()



for ind in df.index:
    # if a miute changes then the data is saved in csv
    if df['date'][ind].minute > minute:
        date = df['date'][ind]
        temp = df['temp'][ind]
        humidity = df['humidity'][ind]
        pressure = df['pressure'][ind]
        altitude = df['altitude'][ind]
        # adding data to the dataframe
        out_miute.loc[len(out_miute.index)] = [date, temp, humidity, pressure, altitude]
        # save to csv ??....
    

    # if the hour changes then the mean from previouse hour is saved
    if df['date'][ind].hour > hour:
        # select readings from previouse hour
        end_time = df['date'][ind] # datetime.no()
        start_time = end_time - timedelta(hours=1)
        selected_rows = out_miute[(out_miute['date'] >= start_time) & (out_miute['date'] <= end_time)]
        mean = selected_rows.mean()
        # saves means to out_hour
        out_hour.loc[len(out_hour.index)] = [df['date'][ind], df['date'][ind].hour, mean['temp'], mean['humidity'], mean['pressure'], mean['altitude']]
        # save to csv ??....
    
    
    # if the date changes then the mean is calculated + a new csv is created for minutes data 
    if df['date'][ind].date() > date:
        new_date = df['date'][ind].date()
        print(f'{date} changes to {new_date}')
        minutes_file = date.strftime("%Y%m%d") + "_minutes.csv" # datetime.now().strftime("%Y%m%d") 
        hour_file = date.strftime("%Y%m%d") + "_hours.csv" # datetime.now().strftime("%Y%m%d")  
        # saving data 
        out_miute.to_csv(os.path.join(out_path, minutes_file))
        out_hour.to_csv(os.path.join(out_path, hour_file))
        # clear dataframes
        out_miute = pd.DataFrame(columns = ['date','temp', 'humidity', 'pressure', 'altitude'])
        out_hour = pd.DataFrame(columns = ['date', 'hour', 'temp', 'humidity', 'pressure', 'altitude'])
        

    minute = df['date'][ind].minute
    hour = df['date'][ind].hour
    date = df['date'][ind].date()

(3395, 5)

TypeError: Cannot compare Timestamp with datetime.date. Use ts == pd.Timestamp(date) or ts.date() == date instead.

In [17]:
'''
- API IMGW https://danepubliczne.imgw.pl/apiinfo
- data for all stations: https://danepubliczne.imgw.pl/api/data/synop/station
    - MLAWA
    - OLSZTYN
    - TORUN
- FREE API:
    https://open-meteo.com/
    - THIS IS FOR ELGNOWO:   https://api.open-meteo.com/v1/forecast?latitude=53.45&longitude=19.95&current=temperature_2m
'''
df = data.copy()
print(df.shape)

out_miute = pd.DataFrame(columns = ['date','temp', 'humidity', 'pressure', 'altitude'])
out_hour = pd.DataFrame(columns = ['date', 'hour', 'temp', 'humidity', 'pressure', 'altitude'])

minute = df['date'][0].minute # datetime.now().minute
hour = df['date'][0].hour # datetime.now().hour
date = df['date'][0].date() #datetime.now().date()


for ind in df.index:
    # if a miute changes then the data is saved in csv
    if df['date'][ind].minute > minute:
        date = df['date'][ind]
        temp = df['temp'][ind]
        humidity = df['humidity'][ind]
        pressure = df['pressure'][ind]
        altitude = df['altitude'][ind]
        # adding data to the dataframe
        out_miute.loc[len(out_miute.index)] = [date, temp, humidity, pressure, altitude]
        # save to csv ??....
    

    # if the hour changes then the mean from previouse hour is saved
    if df['date'][ind].hour > hour:
        # select readings from previouse hour
        end_time = df['date'][ind] # datetime.no()
        start_time = end_time - timedelta(hours=1)
        selected_rows = out_miute[(out_miute['date'] >= start_time) & (out_miute['date'] <= end_time)]
        mean = selected_rows.mean()
        # saves means to out_hour
        out_hour.loc[len(out_hour.index)] = [df['date'][ind], df['date'][ind].hour, mean['temp'], mean['humidity'], mean['pressure'], mean['altitude']]
        # save to csv ??....
    
    
    # if the date changes then the mean is calculated + a new csv is created for minutes data 
    if df['date'][ind].date() > date:
        # saving mean data for readings between 23:00 and 00:00
        end_time = df['date'][ind] # datetime.no()
        start_time = end_time - timedelta(hours=1)
        selected_rows = out_miute[(out_miute['date'] >= start_time) & (out_miute['date'] <= end_time)]
        mean = selected_rows.mean()
        # saves means to out_hour
        out_hour.loc[len(out_hour.index)] = [df['date'][ind], df['date'][ind].hour, mean['temp'], mean['humidity'], mean['pressure'], mean['altitude']]
        
        # generating names for outputs
        minutes_file = date.strftime("%Y%m%d") + "_minutes.csv" # datetime.now().strftime("%Y%m%d") 
        hour_file = date.strftime("%Y%m%d") + "_hours.csv" # datetime.now().strftime("%Y%m%d")  
        # saving data 
        out_miute.to_csv(os.path.join(out_path, minutes_file), index=False)
        out_hour.to_csv(os.path.join(out_path, hour_file), index=False)
        # clear dataframes
        out_miute = pd.DataFrame(columns = ['date','temp', 'humidity', 'pressure', 'altitude'])
        out_hour = pd.DataFrame(columns = ['date', 'hour', 'temp', 'humidity', 'pressure', 'altitude'])
        

    minute = df['date'][ind].minute
    hour = df['date'][ind].hour
    date = df['date'][ind].date()

(3395, 5)

TypeError: Cannot compare Timestamp with datetime.date. Use ts == pd.Timestamp(date) or ts.date() == date instead.

In [ ]:
out_miute.to_csv(os.path.join(out_path, 'minutes_file.csv'))